*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
* {
    font-family: 'Fraunces', serif;
}

.tooltip {
	position: relative !important;
	display: inline-block !important;
	border-bottom: 0px dotted black !important; /* If you want dots under the hoverable text */
	opacity: 1 !important;
  }
  .carousel-control-next-icon{
	  background-image: url('https://image.flaticon.com/icons/png/512/130/130884.png')!important;
  }
  .carousel-control-prev-icon{
	  background-image: url('https://static.thenounproject.com/png/2553788-200.png')!important;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden !important;
	width: 120px !important;
	background-color: black !important;
	color: #fff!important;
	text-align: center!important;
	padding: 5px !important;
	border-radius: 6px!important;
   
	/* Position the tooltip text - see examples below! */
	position: absolute!important;
	z-index: 1!important;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible!important;
  }

  .tooltip .tooltiptext {
	width: 120px!important;
	bottom: 120%!important;
	left: 50%!important;
	margin-left: -60px!important; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

@font-face {
    font-family: curva;
    src: url(KidsOnTheMoon.ttf);

}
@font-face {
    font-family: curvo;
    src: url(Afterglow-Regular.ttf);

}

@font-face {
    font-family: cur;
    src: url(Vintage-Rovery.otf);

}

a{
	text-decoration: none !important;
	font-family:curvo;

}


body{
	font-family:'open sans', sans-serif;

}
header{
	width: 100%;
	height:50px;
	background-color:#838281;
	
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.contenedor{
	width: 98%;
	margin: auto;
}
h1{
	float: left;
	font-family: 'georgia'sans-serif;
}
header .contenedor{
 	display: table;
}
section{
	margin:auto;
	width: 100%;

}
#texto{
	text-align: center;
}
.copy{
	font-size: 20px;
	text-align: center;
}
footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}
.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}
.sociales a{
	color:#333;
	text-decoration: none;
}

table{
			
			
			border-collapse: collapse;
			border-color: black;
			background-color: rgb(247, 247, 247);
			width: 70%;
			height: 200px;
		}

	
