<html>
    <head>
        <body>
            <h1>ESTA PAGINA ES PARA INTRODUCIR EL ORIGEN DE LA INFORMACION QUE EN LA PAGINA SE PRESENTA.... DE LOS TEMAS</h1>
            <body>
                <header>
                    <div class="contenedor">
        
                        <h1 style="font-family:cursive;">Matemáticas</h1>
                        <input type="checkbox" id="menu1">
                        <label for="menu1" class="icon-home"></label>
                        <nav class="menu">
                            <a href="../Inicio.html">Inicio</a>
                            
                            
                            <a href="">Contacto</a>
                            <a href="">Ayuda</a>
                        </nav>
                    </div>
        
                </header>
                <main>
                    <section id="banner">
                        <img src="../img/2.jpg">
                        <div class="contenedor">
                            <font face="georgia"><h2>MATEWEB</h2></font>
                            <p>Una herramineta que puede ayudarte</p>
                            
                        </div>
                    </section><br><br>
                    <section id="texto">
                        <h2>Referencias Clases</h2>
                        <p>Lista de Links de la Informacion sobre Clases</p>
                        <center>
                            <table border="1" width="50%">
                                <tr align="center">
                                    <td>Links De Información</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul  >
                                            <li>link numero 1</li>
                                            <li>link numero 2</li>
                                            <li>link numero 3</li>
                                        </ul>
                                    </td>       
                                </tr>
                            </table>
                          </center>
                    </section><br>
                <br><br><br>
        
        
                    <section id="info">
                        <h3>Siguenos en Nuestras redes Sociales</h3>
        
                        <div class="contenedor">
                            <div >
                                <img style="width: 5%;" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="">
                                <img style="width: 8%;" src="https://cdn.pixabay.com/photo/2020/11/15/06/18/instagram-logo-5744708_960_720.png" alt="">
        
                            </div>
                            
                            <div class="contenedor">
                                <p class="copy">Proyecto Pagina Web - Universidad De Los Llanos<br>Grupo XD<br> &copy;2021</p>
                                
                            </div>
                        </div>
                    </section>
        
                </main>
            </body>
        </body>
    </head>
</html>