<!DOCTYPE html>
<html lang="es">
<head>
	<title>Temas</title>
	<meta charset="utf-8">
	<meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	
	<link rel="stylesheet" href="../css/fontello.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<link rel="stylesheet" href="../css/menu.css">
	<link rel="stylesheet" href="../css/banner.css">
	<link rel="stylesheet" href="../css/texto2.css">
	<link rel="stylesheet" href="../css/info.css">
	<link rel="shortcut icon" href="../img/Herramientas.png">




	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
	<body>
		<header>
			<div class="contenedor">

				<a href="../Inicio.html"><h1 style="font-family:curva;color: white;">MATEWEB</h1></a>

				<input type="checkbox" id="menu1">

				<label for="menu1" > <img src="https://image.flaticon.com/icons/png/512/56/56763.png" alt="" style="width: 20px;padding-bottom: 10px;"></label>

				<nav class="menu">
					<a href="../Inicio.html">Inicio</a>
					<a href="../templates/Herramientas.html">Herramientas</a>
					<a href="../templates/Temas.html">Temas</a>
					<a href="../templates/Contacto.html">Contacto</a>
					<a href="Ayuda.html">Ayuda</a>
				</nav>
			</div>

		</header>
		<main>
			<section id="banner">
				<img src="../img/2.jpg">
				<div class="contenedor">
					<font face="georgia"><h2 style="font-family:cur;">Matemáticas</h2></font>
				</div>
			</section>
			
			<section id="texto2" style="padding-left: 10px;padding-right: 10px;">
				<br>

				<div class="accordion" id="accordionExample">
					
					<div class="accordion-item">
					  <h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Área de un círculo
						</button>
					  </h2>
					  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							CÓMO CALCULAR EL ÁREA DE UN CÍRCULO
							<br>Para calcular el área de un circulo primero debemos tener en cuenta cierta información:<br><br>
Empezamos diciendo que un circulo es una figura geométrica plana en dos dimensiones. Es una superficie
que esta contenida por una circunferencia esta es una curva cerrada, una elipsis cuyos puntos son equidistantes de otro punto
que se denomina centro. Debemos saber también que el circulo esta conformado por otros elementos muy importantes los cuales son:
<br><br>Centro. Es un punto que se encuentra a la misma distancia de todos los puntos que forman la circunferencia.
<br>Radio. Es cualquier segmento que une el centro con la circunferencia. Este elemento será clave a la hora de calcular el área del círculo.
<br>Diámetro. Es cualquier segmento que une dos puntos de la circunferencia pasando por el centro del círculo. Mide siempre el doble que el radio.
<br>Perímetro. Es la longitud del contorno del círculo, es decir, la longitud de la circunferencia.
<br><br>
<img src="../img/circunferencia.png">
<br><br>
<img src="../img/radio.png">
<br><br>
<img src="../img/diametro.png">
<br><br>
En un circulo el numero π , una de las constantes mas importantes en las matemáticas es muy fundamental para el calculo su área. Se trata de una constante que aparece de forma recurrente a lo largo de la historia del cálculo y que es clave para definir la relación entre una circunferencia, el diámetro y, como consecuencia, el área de un círculo.

Entonces tenemos que el área es igual al número π multiplicado por el radio elevado al cuadrado. Es decir:

A = π · r²
<img src="../img/area.png">
Un ejemplo sencillo de como calcular el área de un circulo es el siguiente:
 Si tenemos un círculo con un diámetro de 2 metros entonces su radio seria de 1 metro.  Elevamos el radio al cuadrado y su resultado sería 1, luego  lo multiplicamos por el número π y obtendríamos el resultado final. 
 <br><br>
 <br><br>A = π · r²
 <br><br>A = π · 1²
 <br><br>A = π · 1
 <br><br>A = 3,14 m²
 <br><br>El área de nuestro círculo mediría 3,14 (π) metros cuadrados.

 <!-- https://www.nobbot.com/tecnologia/guia-y-trucos/como-calcular-el-area-de-un-circulo/ -->


								<div style="padding-top: 20px;"> 
									<iframe width="560" height="315" src="https://www.youtube.com/embed/5z3h53xQVq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							Calcula Aquí : <a href="../php/AreaDeUnCirculo.php">Área de un Círculo</a>.
						</div>
					  </div>
					</div>

					<div class="accordion-item">
					  <h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  Área de un rectángulo
						</button>
					  </h2>
					  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							El área de un rectángulo se calcula a partir de los dos lados diferentes (a y b). Es el producto de los dos lados contiguos del rectángulo.
							<br><br>A = a x b
							<br><br>Siendo a y b dos lados diferentes 
<img src="../img/rectangulo.png">
Un ejemplo sencillo seria si tenemos un rectángulo cuyos lados (a y b) tienen una longitud de: a=3 cm y b=5 cm.
<br><br>
El área del rectángulo será el producto de los dos lados diferentes, es decir: 
<br><br>
<img src="../img/area2.png">
El área del rectángulo de lados a=3 cm y b=5 cm es de 15 cm2.
<!-- https://www.universoformulas.com/matematicas/geometria/area-rectangulo/ -->
							<div style="padding-top: 20px;"> 
								<iframe width="560" height="315" src="https://www.youtube.com/embed/142jaFsLZlQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
								Calcula Aquí : <a href="../php/AreaDeUnRectangulo.php">Área de un Rectágulo</a>.

						</div>
					  </div>
					</div>

					

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingSix">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							Área de un triángulo
						  </button>
						</h2>
						<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								El triángulo rectángulo es aquel triángulo que tiene un ángulo interior que es recto, es decir, un Angulo que mide 90°.<br>
	La principal característica del triángulo rectángulo es que tiene un lado de mayor longitud el cual se denomina “hipotenusa” y otros dos lados de menor longitud denominados “catetos” cuya unión forman el ángulo recto.
	Se debe mencionar que cualquier cuadrado divido en dos por una de sus diagonales da como resultado a dos triángulos rectángulos iguales.
	<br><br>
	<img src="../img/rectagulo.png">
	El triángulo rectángulo esta conformado por los siguientes elementos:<br>
	Vértices: A, B, C.<br>
	Lados: AB, BC, AC, donde AC es la hipotenusa y AB y BC son los catetos.<br>
	Ángulos interiores: 90°,β,γ. Los tres deben sumar 180º.<br>
	Ángulos exteriores: 90°,δ,ε.
	En donde see debe cumplir lo siguiente:<br><br>
	90º+β+γ=180º, β+γ=90º<br>
	β+δ=180º<br>
	γ+ε=180º<br>
	Tipos de triángulo rectángulo<br>
	Según la longitud de sus lados, un triángulo rectángulo puede ser de dos tipos:<br>
	Isósceles: Cuando sus dos catetos son iguales, lo que implica que sus ángulos interiores son 90º, 45º y 45º.
	<br>
	Escaleno: Cuando en sus lados todos tienen distinta longitud.<br>
	Un triángulo rectángulo no puede ser equilátero porque uno de sus lados (la hipotenusa) mide siempre más que los otros dos.<br>
	<br>
	<img src="../img/rectagulo1.png"><br>
	<img src="../img/rectagulo2.png"><br>
	El cálculo del área de un triángulo rectángulo corresponde a la mitad del producto de sus lados o catetos a y b que forman el ángulo recto. La fórmula matemática será:<br><br>
	<br>
	<img src="../img/areatriangulo.png">
	Donde:<br>
	a es el lado que coincide con la altura.<br>
	b es la base.<br>
	A es el área.<br>
	Ejemplo : el área del triángulo rectángulo de lados 3, 4 y 5 es 6 ya que :<br>
	<img src="../img/rectagulo3.png">
	<!-- https://www.matematicas18.com/es/tutoriales/geometria/figuras-geometricas/triangulo/triangulo-rectangulo/ -->
	
								<div style="padding-top: 20px;"> 
									<iframe width="560" height="315" src="https://www.youtube.com/embed/9YPDuyODqRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
									Calcula Aquí : <a href="../php/AreaDeUnTriangulo.php">Área de un Triángulo</a>.
							</div>
						</div>
					  </div>


					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingFive">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							Volumen de un paralelepipedo
						  </button>
						</h2>
						<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Un paralelepípedo es un cuerpo geométrico formado por seis caras, cuya característica principal es que todas sus caras son paralelogramos y además sus caras opuestas son paralelas entre sí. Se trata de un  poliedro común en nuestra vida cotidiana, ya que lo podemos encontrar en las cajas de zapatos, la forma de un ladrillo, la forma de un microondas, etc.<br>
								Siendo un poliedro, el paralelepípedo encierra un volumen finito y todas sus caras son planas. Forma parte del grupo de los prismas, que son aquellos poliedros en los que todos sus vértices están contenidos en dos planos paralelos.
								<img src="../img/para1.png"><br>
								<img src="../img/para2.png"><br>
								La fórmula que nos da el volumen de un paralelepípedo es el producto del área de una de sus caras por la altura correspondiente a dicha cara.<br>
								<img src="../img/volumen.png"><br>
								<img src="../img/parapepilado.png"><br>
								Dependiendo del tipo de paralelepípedo dicha fórmula puede ser simplificada.
								Así tenemos por ejemplo que el volumen de un ortoedro vendría dada por:<br>
								V = abc.<br><br>
								Donde a, b y c represente la longitud de las aristas
								
								<!-- https://www.lifeder.com/paralelepipedo/ -->
	
								<div style="padding-top: 20px;"> 
									<iframe width="560" height="315" src="https://www.youtube.com/embed/Ph3cl76mvkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
									Calcula Aquí : <a href="../php/VolumenDeUnParalelepipedo.php">Volumen de un Paralelepipedo</a>.
								</div>
						</div>
					  </div>
					 

					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingFor">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
							Volumen de un cilindro 
						  </button>
						</h2>
						<div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Un cilindro es un sólido compuesto de dos círculos planos paralelos congruentes, sus interiores y todos los segmentos de rectas paralelos al segmento que contiene los centros de ambos círculos con puntos finales en las regiones circulares.<br>
								<img src="../img/cilindro.png"><br>
								El volumen de un sólido de 3 dimensiones es la cantidad de espacio que ocupa. Las unidades de volumen están dadas en unidades cúbicas (pulg 3 , pies 3 , cm 3 , m 3 , etcétera).<br> 
								Para hallar el volumen V de un cilindro se multiplica el área de la base A, por la altura h. r es el radio de la circunferencia.<br>
								<img src="../img/formulacilindro.png"><br>
								Tenemos como ejemplo:<br>
								Encontrar el volumen de un cilindro que tiene 8 cm de radio y 15 cm de altura:<br>
								<img src="../img/cilindro2.png">
								<br>
								La fórmula para el volumen de un cilindro es <br>
								<img src="../img/formulacilindro2.png">
								El radio del cilindro es de 8 cm y la altura es de 15 cm. Entonces sustituimos 8 por r y 15 por h en la fórmula:<br>
								<img src="../img/formulacilindro3.png">
								<br><br>
								Y eso es igual a: <br>
								V = 3600cm³
	
								
								<div style="padding-top: 20px;"> 
									<iframe width="560" height="315" src="https://www.youtube.com/embed/KF_S79SXOpo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
									Calcula Aquí : <a href="../php/VolumenDeUnCilindro.php">Volumen de un Cilindro</a>.
								</div>
						</div>
					  </div>

					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Volumen de una piramide
						  </button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Una pirámide es la colección de todos los puntos entre (e inclusive) una base en forma de polígono y un ápice que está en un plano diferente al de la base.<br>
								<img src="../img/piramide.png"><br>
								<img src="../img/piramide3.png"><br>
								Para calcular el volumen de una pirámide debemos saber que el volumen V de una pirámide es un tercio del área de la base B por la altura h .<br>
								Lo que quiere dicer que la formula para hallar el volumen de una pirámide es:<br>
								<img src="../img/formulapiramide.png"><br>
								Un ejemplo aplicativo es:<br>
								Si tenemos una pirámide con una base de 10cm² y una altura de 18cm. ¿cuál es su volumen? <br>
								<img src="../img/ejemplopiramide.png"><br>
								Solución<br>
								Aplicando la formula, se sustituyen los valores en esta y se resuelve:<br>
								<img src="../img/formulapiramide.png"><br>
								<img src="../img/formulapiramide2.png"><br>
								Por lo tanto, el volumen de la pirámide cuadrada es de 600 cm³.
	
	
	
	
								<div style="padding-top: 20px;"> 
									<iframe width="560" height="315" src="https://www.youtube.com/embed/VpOKrHNLcEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
									Calcula Aquí : <a href="../php/VolumenDeUnaPiramide.php">Volumen una Piramide</a>.
								</div>
						</div>
					  </div>
				  </div>


				
			</section><br><br><br>

			
			<section id="info">
				<h3>Siguenos en Nuestras redes Sociales</h3>

				<div class="contenedor">
					<div >
						<img style="width: 5%;" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="">
						<img style="width: 8%;" src="https://cdn.pixabay.com/photo/2020/11/15/06/18/instagram-logo-5744708_960_720.png" alt="">

					</div>
					
					<div class="contenedor">
						<p class="copy">Proyecto Pagina Web - Universidad De Los Llanos<br>Grupo XD<br> &copy;2021</p>
						
					</div>
				</div>
			</section>

		</main>
	</body>
</html>